header {
        height: 70px;
        width: 100%;
        background-color: white;
        border-bottom: 1px solid #CCCCCC;

    }

    #header_logo {
            width: 142px;
            height: 100%;

            background-image: url(../images/logo.png);
            background-repeat: no-repeat;
            background-position: center;
            margin-left: 20px;

}
